#container {
  width: 550px;
  margin: 0 auto;
  background: pink;
  padding: 10px 40px 40px 40px;
  border-radius: 10px;
  color: #333;
}

.quiz {
  margin: 50px 0;
}

.question {
  font-weight: bold;
  margin: 10px 0;
}


.qes {
  font-weight: bold;
  color: red;
}

input {
  margin: 5px;
}

.correct {
  font-weight: bold;
  color: red;
}

.miss {
  font-weight: bold;
  color: blue;
}

.error {
  color: red;
  display: inline-block;
  margin: 0;
}

.result {
  margin: 10px 0;
  font-weight: bold;
  font-size: 16px;
}

.ans {
  font-weight: normal;
  color: red;
}

.button {
  margin: 10px 0;
}